<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
</head>
<body>
    <form action='/' method="POST">
        <h1>Select a profession that suits you</h1>
        <select name="tag">
            <option value="" disabled selected>Choose</option>
            <option>Marketing</option>
            <option>Software Developer</option>
        </select>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>